* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*mobile*/
:root {
  --font-family: "Rubik", sans-serif;
  --menu-color: #4a4a4a;
  --background-color: #3cdbc0;
  --texto-color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: var(--texto-color);
}
.logo {
  width: 155px;
  margin-top: 20px;
}
.menu {
  display: flex;
  margin-bottom: 13px;
}
.line {
  list-style-type: none;
  padding: 10px;
}
.link {
  font-family: var(--font-family);
  color: var(--menu-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}
.principal {
  font-family: var(--font-family);
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
.text {
  color: var(--texto-color);

  text-transform: capitalize;
}

/*versión tablet y desktop*/
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .menu {
    margin-right: 30px;
  }
  .link {
    padding: 10px;
  }
  .text {
    font-size: 40px;
  }
}
